FastAPI
gunicorn
uvicorn
python-decouple
pytest
httpx
google-auth
google-cloud-secret-manager
sqlalchemy
asyncpg
psycopg2
psycopg2-binary
alembic
passlib[bcrypt]
python-multipart
python-jose[cryptography]
asyncio
# databases
# pyjwt
# greenlet
# email-validator